@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --Color1:#2485B0;
  --Color2:#2A9D8F;
}

.active{
  background-color: var(--Color1) !important;
  color: red !important;
}
.myBorder{
  border: 2px solid var(--Color2);
}
.textColor1{
  color: var(--Color1);
}
.textColor2{
  color: var(--Color2);
}
.bgColor1{
  background-color: var(--Color1);
}
.bgColor2{
  background-color: var(--Color2);
}

.mybtn{
  /* background-color: #2485B0; */
  background-color: var(--Color2);
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
}
.mybtn:hover{
  background-color: var(--Color1);
}
.slick-slide> div {
    margin:  0 10px;
}
.tourism-guide-section {
    margin: 0 auto;
  }
  
  .package-cards, .tour-guide-cards {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }
  .wishlist-icon {
    position: absolute;
    font-size: x-large;
    bottom: 2px;
    right: 10px;
    cursor: pointer;
    color: var(--Color2);
  }
  .wishlist-icon:hover {
    color: var(--Color1);
  }
  .centered{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
  }
  .bg-img{
    z-index: 2;
    background-image: url('./assets/images/Banner/banner.png');
  }
  .table :where(th, td) {
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: medium;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    vertical-align: middle;
}