@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --Color:#00BBA6;
}

.slick-slide> div {
    margin:  0 10px;
}
.tourism-guide-section {
    margin: 0 auto;
  }
  
  .package-cards, .tour-guide-cards {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }
  
  /* .package-card, .tour-guide-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    margin: 0 auto;
  } */
  
  /* .package-image img {
    width: 100%;
    border-radius: 8px;
  } */
  
  .wishlist-icon {
    position: absolute;
    font-size: x-large;
    bottom: 5px;
    right: 10px;
    /* color: rgb(230, 33, 180); */
    cursor: pointer;
  }
  .centered{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
  }
  .bg-img{
    z-index: 2;
    background-image: url('./assets/images/Banner/banner.png');
  }